@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?49187976');
  src: url('../font/fontello.eot?49187976#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?49187976') format('woff2'),
       url('../font/fontello.woff?49187976') format('woff'),
       url('../font/fontello.ttf?49187976') format('truetype'),
       url('../font/fontello.svg?49187976#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49187976#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-folder-open:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-help-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-trash-empty:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-align-justify:before { content: '\e818'; } /* '' */
.icon-align-right:before { content: '\e819'; } /* '' */
.icon-align-center:before { content: '\e81a'; } /* '' */
.icon-align-left:before { content: '\e81b'; } /* '' */
.icon-indent-left:before { content: '\e81c'; } /* '' */
.icon-indent-right:before { content: '\e81d'; } /* '' */
.icon-qrcode:before { content: '\e81e'; } /* '' */
.icon-key:before { content: '\e81f'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-maxcdn:before { content: '\f136'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-buysellads:before { content: '\f20d'; } /* '' */
.icon-sellsy:before { content: '\f213'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
.icon-scribd:before { content: '\f28a'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-wpbeginner:before { content: '\f297'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-glide:before { content: '\f2a5'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */